@{
	ViewBag.Title = "About";
}

<h2>What is VegDinner.com?</h2>
<div id="about">
	VegDinner was inspired by an open source project called NerdDinner and by my desire help vegan folks find other like-minded people to eat some awesome food with.
</div>