@{
	ViewBag.Title = "About";
}

<h2>What is NerdDinner.com?</h2>
<div id="about">
	<p>More info coming soon</p>
	<p>We're free and fun. <a href="@Url.Content("~/")">Find a dinner near you</a>, or <a href="@Url.Content("~/dinners/create")">host a dinner</a>. Be social.</p>
	<p></p>
</div>